
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

 <style>
     .panel-group {
         margin-bottom: 0px;
     }
     .tab-content .tab-pane {
         padding: 0;
     }
 </style> 

    <!-- Left Sidebar End -->
    <div class="content-page">
        <div class="content">
            <div class="container">
                <!-- heading breadcrumb -->

                <div class="pageheader">

                    <h2>Authorisations </h2>

                    <div class="page-bar">

                        <ul class="page-breadcrumb">
                            <li>
                                <a href="index.html"><i class="fa fa-home"></i> Icon HR</a>
                            </li>
                            <li>
                                <a href="#">Authorisations</a>
                            </li>
                        </ul>

                    </div>

                </div>
                
                <!-- heading breadcrumb -->

                
                    <div class="col-md-6" style="padding:0px;" >
                        <div class="hpanel panel-group">
                           
                               
                                    <ul class="nav nav-tabs nav-justified   menu-tabs">
                                        <li class="active"><a href="#emplo1" data-toggle="tab">Holidays</a></li>
                                        <li><a href="#emplo2" data-toggle="tab">Time Sheet</a></li>
                                    </ul>
                                
                           
                        </div>
                    </div>

                    <div class="container  page-borders" >
                    
                            <div class="hpanel">
                                <div class="panel-body employees-right">
                                    <div class="text-center hidden">We couldn't find any notes for you.</div>
                                    <div class="tab-content">
                                        <div id="emplo1" class="tab-pane active">
                                          
                                            <div class="table-responsive">
                                                <table class="table table-bordered m-0">
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Location </th>
                                                            <th>Department </th>
                                                            <th>Job Role </th>
                                                            <th>Length Of Service </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><a class="empname-click">vinod dudala</a></td>
                                                            <td>Mark</td>
                                                            <td>Otto</td>
                                                            <td>mdo</td>
                                                            <td>mdo</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div id="emplo2" class="tab-pane">
                                            
                                          
                                            <div id="emplo1" class="tab-pane active">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered m-0">
                                                        <thead>
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>Location </th>
                                                                <th>Department </th>
                                                                <th>Job Role </th>
                                                                <th>Length Of Service </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td><a class="empname-click">vinod dudala</a></td>
                                                                <td>Mark</td>
                                                                <td>Otto</td>
                                                                <td>mdo</td>
                                                                <td>mdo</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                    </div><!--col-->
                
                <!--employees-tab -->
            </div>
        </div> <!-- content -->
        
    </div>
</div>
<!-- END wrapper -->

