
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ICON HR</title>
    <style>
        .header-wrapper {
            background-color: #fff;
        }
        #header {
            background-color: #fff;
            display: block;
            height: 56px;
            margin-left: auto;
            margin-right: auto;
            padding: 0;
            position: relative;
            max-width: 1250px;
        }
    </style>
</head>
<body>
    <!-- Simple splash screen-->
    <div class="splash">
        <div class="color-line"></div>
    </div>
    <div class="header-wrapper">
        <div id="header">          
            <div id="logo" class="light-version"><span><a href='@Url.Action("Index", "Login")'><img src='@Url.Content("~/Images/logo.png")' alt="" /></a></span></div> <nav role="navigation">        
                <div class="navbar-right">
                    <ul class="nav navbar-nav no-borders">
                        <li class="dropdown">
                            <a class="dropdown-toggle label-menu-corner" href="#" data-toggle="dropdown" />
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- Main Wrapper -->
    <div id="wrapper" style="min-height:500px !important;">
        <div class="content animate-panel">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hpanel">
                        <div class="panel-body">
                            @if (!string.IsNullOrEmpty(Convert.ToString(TempData["ErrorMessage"])))
                            {
                                <h4 style="text-align:center;">@TempData["ErrorMessage"].ToString()</h4>
                            }
                            else
                            {
                                <h4 style="text-align:center;">Unable to process your request!</h4>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div align="center">
        <p>© @DateTime.Now.Year ICON Software Limited. All Rights Reserved.</p>
    </div>
</body>
</html>

