@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<script>
    var $con = jQuery.noConflict();
    $con(document).ready(function () {
        $con('#datepickerDOB').datepicker({
            format: "dd/MM/yyyy",
            todayHighlight: true,
            autoclose: true,
            pickTime: false,

        });
    });

</script>

<div class="content-page" ng-controller="editEmployeeController">
    <!-- Start content -->

    <section id="content">
        <div class="page">



            <div class="pageheader">

                <h2>Edit Profile </h2>

                <div class="page-bar">

                    <ul class="page-breadcrumb">
                        <li>
                            <a href="index.html"><i class="fa fa-home"></i> Icon HR</a>
                        </li>
                        <li>
                            <a href="#">Edit</a>
                        </li>
                    </ul>

                </div>

            </div>





            <section class="tile">
                <div class="tile-body">
                    <div class="card-box clearfix">
                        <h3 style="font-size:25px;font-weight:200;">Personal Details : </h3>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="label-control">First Name</label>
                                <input type="text" class="form-control" name="txtFirstName" id="txtFirstName" ng-model="employeeDetail.FirstName" ng-maxlength="30" required>
                                <div ng-if="RegistrationForm.$submitted || RegistrationForm.txtFirstName.$dirty" ng-messages="RegistrationForm.txtFirstName.$error" style="color:red" ng-cloak role="alert">
                                    <div ng-message="required">First Name is required</div>
                                    <div ng-message="maxlength">First Name is too long</div>
                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                <label class="label-control">Last Name</label>
                                <input type="text" class="form-control" name="txtLastName" id="txtLastName" ng-model="employeeDetail.LastName" ng-maxlength="30" required>
                                <div ng-if="RegistrationForm.$submitted || RegistrationForm.txtLastName.$dirty" ng-messages="RegistrationForm.txtLastName.$error" style="color:red" ng-cloak role="alert">
                                    <div ng-message="required">Last Name is required</div>
                                    <div ng-message="maxlength">Last Name is too long</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="label-control">Email</label>
                                <input type="text" class="form-control" name="txtEmail" id="txtEmail" ng-model="employeeDetail.EmailID" ng-maxlength="30" ng-pattern="/^[^\s]+[^\s]+\.[^\s]{2,}$/" required>
                                <div ng-if="RegistrationForm.$submitted || RegistrationForm.txtEmail.$dirty" ng-messages="RegistrationForm.txtEmail.$error" style="color:red" ng-cloak role="alert">
                                    <div ng-message="required">Email is required</div>
                                    <div ng-message="maxlength">Email is too long</div>
                                    <div ng-message="pattern">Please enter valid Email</div>
                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                <label class="label-control">Mobile Number</label>
                                <input type="text" class="form-control" name="txtPhone" id="txtPhone" ng-model="employeeDetail.PhoneNumber" ng-maxlength="20" required />
                                <div ng-if="RegistrationForm.$submitted" ng-messages="RegistrationForm.txtPhone.$error" style="color:red" ng-cloak role="alert">
                                    <div ng-message="required">Mobile Number is required</div>
                                    <div ng-message="maxlength">Mobile Number is too long</div>
                                    <div ng-message="pattern">Please enter valid Mobile Number</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="label-control">Gender</label>
                                <div class="radio-group" id="gender">
                                    <label class="radio-inline">
                                        @* @Html.RadioButton("Gender", "Male", @Model.Rows[0][4].ToString() == "Male")Male*@
                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Male" checked="" ng-model="employeeDetail.Gender"> Male
                                    </label>
                                    <label class="radio-inline">
                                        @*@Html.RadioButton("Gender", "Female", @Model.Rows[0][4].ToString() == "Female")Female*@
                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Female" checked="" ng-model="employeeDetail.Gender"> Female
                                    </label>
                                </div>
                            </div>

                            <div class="form-group col-sm-6">
                                <label class="label-control">Date Of Birth</label>
                                <div class="input-group date" data-provide="datepicker" id="datepickerDOB">
                                    <input type="text" class="form-control" id="txtDOB" ng-model="employeeDetail.DateOfBirth">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="label-control">Profile Photo</label>
                                <div class="input-group file-upload-block">
                                    <input class="form-control" type="text" id="photo" title="Upload the Data, please check the sample file for the format" readonly placeholder="Upload the Data">
                                    <span class="input-group-btn">
                                        <span class="btn btn-primary btn-file">
                                            Browse
                                            <input type="file" id="txtUpload" name="txtUpload" ngf-select="UploadFiles($files)" class="form-control">
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="label-control">Address</label>
                                <div class="input-group" style="width:100%;">
                                    <textarea class="form-control" name="txtAddress" id="txtAddress" ng-model="employeeDetail.Address" style="overflow:auto;resize:none;height:80px;" ng-model="test" value="test" ng-maxlength="200" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="col-md-3 control-label" for="confirm">Country</label>
                                @*@Html.DropDownList("CountryId", new SelectList(ViewBag.CountriesList, "CountryId", "CountryName", Convert.ToInt32(@Model.Rows[0][8])), "Please select", new { @id = "ddlCountries", @class = "form-control select2" })*@
                                <select class="form-control" name="ddlCountry" id="ddlCountry" ng-model="selectedCountry" required>
                                    <option value="" label="Select a Country"></option>
                                    <option ng-repeat="Country in CountryList" value="{{Country.id}}"
                                            ng-selected="{{Country.id == selectedCountry}}">
                                        {{Country.text}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="label-control">Postal Code</label>
                                <input type="text" class="form-control" name="txtPostalCode" id="txtPostalCode" ng-model="employeeDetail.PostalCode" ng-maxlength="30" required>
                                <div ng-if="RegistrationForm.$submitted || RegistrationForm.txtPostalCode.$dirty" ng-messages="RegistrationForm.txtPostalCode.$error" style="color:red" ng-cloak role="alert">
                                    <div ng-message="required">Postal Code is required</div>
                                    <div ng-message="maxlength">Postal Code is too long</div>
                                </div>
                            </div>
                            <div class="col-md-12" style="text-align:center;margin:50px 0px;">
                                <button type="submit" class="round-button waves-effect" ng-click="EditEmployee()" value="Submit">Submit </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <div class="bt-block-wrapp m-t-20">
                <div class="bt-block">
                </div>
            </div>
        </div>
    </section>
    <modal-dialog show="modalShown" message="Successfully" width="600px" height="200">
        <div>
            <h4>Notification</h4>
            <br />
            <p>{{Message}}</p>
        </div>
    </modal-dialog>
</div>
