
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPlain.cshtml";
}


<div class="col-lg-4 col-md-6 col-sm-7 col-md-offset-4" ng-controller="loginController">
    <form name="LoginForm" novalidate>
        <div class="clearfix">
            <h1>LOGIN</h1>
            <span id="errorMsgLogin" style="color:red;"></span>
            <div class="form-group">
                <!--<i class="fa fa-envelope-o" aria-hidden="true"></i>-->
                <input type="text" class="form-control" name="txtEmail" id="txtEmail" placeholder="&#xf003; Email" style="font-family:Arial, FontAwesome" max-length="30" ng-model="emaidId" ng-pattern="/^[^\s]+[^\s]+\.[^\s]{2,}$/" required />
                <div ng-if="LoginForm.$submitted" ng-messages="LoginForm.txtEmail.$error" style="color:red" ng-cloak role="alert">
                    <div ng-message="required">Email is required</div>
                    <div ng-message="pattern">Please enter valid Email</div>
                </div>
            </div>
            <div class="form-group">

                <input type="password" class="form-control" name="txtPassword" id="txtPassword" placeholder="&#xf13e; Password" style="font-family:Arial, FontAwesome" max-length="20" ng-model="password" required />
                <div ng-if="LoginForm.$submitted || LoginForm.txtPassword.$dirty" ng-messages="LoginForm.txtPassword.$error" style="color:red" ng-cloak role="alert">
                    <div ng-message="required">Password is required</div>
                </div>
            </div>
            <div class="col-md-12" style="padding:0px;">

                <input type="submit" class="round-button waves-effect" ng-click="LoginForm.$valid && onLogin()" value="LOGIN" style="width: 100%;
margin: 10px 0px;
font-size: 15px;font-weight: 600;">

            </div>
            <div class="col-md-12"><p><a href="/ForgotPassword" style="color:#42155b;">Forgot your Password?</a></p></div>
            <div class="form-group-bt clearfix">
                <p>Don't have an account? <a href="/Registration">Create Now</a></p>
            </div>
        </div>
    </form>
</div>

