<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <title>ICON HR</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- ** Plugins Needed for the Project ** -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/plugins/bootstrap/bootstrap.min.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome/font-awesome.min.css">
    <!-- Animation -->
    <link rel="stylesheet" href="~/plugins/animate.css">
    <!-- Prettyphoto -->
    <link rel="stylesheet" href="~/plugins/prettyPhoto.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="~/plugins/owl/owl.carousel.css">
    <link rel="stylesheet" href="~/plugins/owl/owl.theme.css">
    <!-- Flexslider -->
    <link rel="stylesheet" href="~/plugins/flex-slider/flexslider.css">
    <!-- Flexslider -->
    <link rel="stylesheet" href="~/plugins/cd-hero/cd-hero.css">
    <!-- Style Swicther -->
    <link id="style-switch" href="~/Styles/css/preset3.css" media="screen" rel="stylesheet" type="text/css">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="plugins/html5shiv.js"></script>
      <script src="plugins/respond.min.js"></script>
    <![endif]-->
    <!-- Main Stylesheet -->
    <link href="~/Styles/css/style.css" rel="stylesheet">

    <!--Favicon-->
    <link rel="icon" href="img/favicon/favicon-32x32.png" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/favicon/favicon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/favicon/favicon-72x72.png">
    <link rel="apple-touch-icon-precomposed" href="img/favicon/favicon-54x54.png">
</head>
<body>
    <div class="body-inner">

        <!-- Header start -->
        <header id="header" class="fixed-top header2" role="banner">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <a class="navbar-brand" href="index.html"><img class="img-fluid" src="~/images/logo-login.png" alt="logo"></a>
                    <button class="navbar-toggler ml-auto border-0 rounded-0 text-white" type="button" data-toggle="collapse"
                            data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fa fa-bars"></span>
                    </button>

                    <div class="collapse navbar-collapse text-center" id="navigation">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown active"> <img src="~/images/icons/home_icon.png" /> <a class="nav-link" href="#" role="button">Home</a></li>
                            <li class="nav-item dropdown active"> <img src="~/images/icons/login-icon.png" /> <a class="nav-link" href="http://localhost:51704/Login" role="button">Login</a></li>
                            <li class="nav-item dropdown active"> <img src="~/images/icons/demo_icon.png" /> <a class="nav-link" href="#" role="button">Demo</a></li>
                            <li class="nav-item dropdown active"> <img src="~/images/icons/freetrail_icon.png" /> <a class="nav-link" href="http://localhost:51704/Registration" role="button">START YOUR TRAIL</a></li>

                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <!--/ Header end -->
        <!-- Slider start -->
        <section id="home" class="p-0">
            <div id="main-slide" class="ts-flex-slider">
                <div class="flexSlideshow flexslider">
                    <ul class="slides">
                        <li>
                            <div class="overlay2">
                                <img class="" src="~/images/slider/bg1.jpg" alt="slider">
                            </div>
                            <div class="flex-caption slider-content">
                                <div class="col-md-12 text-center">
                                    <h2 class="animated2">
                                        Manage your business better

                                    </h2>
                                    <h3 class="animated3">
                                        Automate and simplify your HR operations with our<br />
                                        easy-to-use and customizable HR software.
                                    </h3>
                                    <p class="animated4"><a href="#" class="slider btn btn-primary white">Start Now</a></p>
                                </div>
                            </div>
                        </li>
                        <!--<li>
                            <div class="overlay2">
                                <img class="" src="~/images/slider/bg2.jpg" alt="slider">
                            </div>
                            <div class="flex-caption slider-content">
                                <div class="col-md-12 text-center">
                                    <h2 class="animated4">
                                        How Big Can You Dream?
                                    </h2>
                                    <h3 class="animated5">
                                        We are here to make it happen
                                    </h3>
                                    <p class="animated6"><a href="#" class="slider btn btn-primary white">Buy Now</a></p>
                                </div>
                            </div>
                        </li>-->
                        <!--	<li>
                                <div class="overlay2">
                                    <img class="" src="~/images/slider/bg3.jpg" alt="slider">
                                </div>
                                <div class="flex-caption slider-content">
                                    <div class="col-md-12 text-center">
                                        <h2 class="animated7">
                                            Your Challenge is Our Progress
                                        </h2>
                                        <h3 class="animated8">
                                            So, You Don't Need to Go Anywhere Today
                                        </h3>
                                        <div class="">
                                            <a class="animated4 slider btn btn-primary btn-min-block white" href="#">Get Now</a><a
                                                class="animated4 slider btn btn-primary btn-min-block solid" href="#">Live Demo</a>
                                        </div>
                                    </div>
                                </div>
                            </li>-->
                    </ul>
                </div>
            </div>
            <!--/ Main slider end -->
        </section>



        <!-- Service box start -->
        <section id="feature" class="feature">
            <div class="container">
                <div class="col-md-12 heading">

                    <h2 class="title">Exclusive, High-Impact Extras </h2>
                </div>
                <div class="row">
                    <div class="feature-box col-sm-4 wow fadeInDown" data-wow-delay=".5s">
                        <div class="box-bg">
                            <h3 style="color:#006eb6;padding:20px;">
                                <img src="~/images/icons/Accessible-icon.png" style="float:left;margin-top:-10px;padding-right: 16px;" />Accessible anytime
                                from anywhere
                            </h3>
                            <p style="padding:0px 20px;">
                                Application can access anywhere, anytime on any device. The accessible Future where users can connect and be productive anytime they want.
                            </p>
                            <div class="more_btn"><a href="#" style="background: #1379bb;" data-toggle="modal" data-target="#myModala">Read More</a></div>
                        </div>

                    </div>
                    <!--/ End first featurebox -->
                    <div class="feature-box col-sm-4 wow fadeInDown" data-wow-delay=".5s">
                        <div class="box-bg">
                            <h3 style="color:#eca820;padding:20px;">
                                <img src="~/images/icons/peopleboarding-icon.png" style="float:left;margin-top:-10px; padding-right: 16px;" />Paperless<br />
                                Onboarding
                            </h3>
                            <p style="padding:0px 20px;">
                                Onboarding is one of the first steps you take towards setting your employees up for success, and it’s an ever-evolving process. As more people join your company,
                            </p>
                            <div class="more_btn"> <a href="#" style="background: #eca820;" data-toggle="modal" data-target="#myModalb">Read More</a> </div>
                        </div>

                    </div>
                    <!--/ End first featurebox -->
                    <div class="feature-box col-sm-4 wow fadeInDown" data-wow-delay=".5s">
                        <div class="box-bg">
                            <h3 style="color:#5bb56d;padding:20px;">
                                <img src="~/images/icons/hrreporting-icon.png" style="float:left;margin-top:-10px;padding-right: 16px;" />HR Reporting and
                                analystics
                            </h3>
                            <p style="padding:0px 20px;">
                                This gives more time to focus on strategy, innovation and making money. At any time, a spradsheet can be exported with a summary of all financial


                            </p>
                            <div class="more_btn"><a href="#" style="background:#5bb56d;" data-toggle="modal" data-target="#myModalc">Read More</a></div>
                        </div>

                    </div>

                    <!--/ End first featurebox -->
                </div><!-- Content row end -->

                <div class="gap-40"></div>

                <div class="row">
                    <div class="feature-box col-sm-4 wow fadeInDown" data-wow-delay=".5s">
                        <div class="box-bg">
                            <h3 style="color:#f65f5f;padding:20px;">
                                <img src="~/images/icons/communication-icon.png" style="float:left;margin-top:-10px;padding-right: 16px;" />Improve Communication
                                with Employee
                            </h3>
                            <p style="padding:0px 20px;">
                                Communicating with employees is vital to any HR team. An increasing number of employees are working remotely, so good, strong communicative channels

                            </p>
                            <div class="more_btn"><a href="#" style="background:#f65f5f;" data-toggle="modal" data-target="#myModald">Read More</a></div>
                        </div>

                    </div>
                    <!--/ End first featurebox -->

                    <div class="feature-box col-sm-4 wow fadeInDown" data-wow-delay=".5s">
                        <div class="box-bg">
                            <h3 style="color:#91908f;padding:20px;">
                                <img src="~/images/icons/centralize-icon.png" style="float:left;margin-top:-10px;padding-right: 16px;" />Centralize All
                                Your Resource
                            </h3>
                            <p style="padding:0px 20px;">
                                HR Icon platform provides a central location for storing documents and sharing. An HR intranet needs to be well organized and easy to navigate

                            </p>
                            <div class="more_btn"><a href="#" style="background:#91908f;" data-toggle="modal" data-target="#myModale">Read More</a></div>
                        </div>

                    </div>
                    <!--/ End first featurebox -->

                    <div class="feature-box col-sm-4 wow fadeInDown" data-wow-delay=".5s">
                        <div class="box-bg">
                            <h3 style="color:#8860d0;padding:20px;padding-right: 16px;">
                                <img src="~/images/icons/performance-icon.png" style="float:left;margin-top:-10px;padding-right: 16px;" />Performance<br />
                                management
                            </h3>
                            <p style="padding:0px 20px;">
                                Our HR software makes it easy for your staff to log and track training. You can also upload and store training certificates to employee profiles. Staff appraisals  out

                            </p>
                            <div class="more_btn"><a href="#" style="background:#8860d0;" data-toggle="modal" data-target="#myModalf">Read More</a></div>
                        </div>

                    </div>
                    <!--/ End first featurebox -->

                </div><!-- Content row end -->

                <div class="gap-40"></div>



            </div>
            <!--/ Container end -->
        </section>


        <!-- Modal -->
        <div id="myModala" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">

                        <p>
                            Application can access anywhere, anytime on any device. The accessible
                            Future where users can connect and be productive anytime they want.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info btn-small" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Service box end -->
        <!-- Modal -->
        <div id="myModalb" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">

                        <p>Welcome new employees with automated and personalized onboarding experiences.</p>
                        <p> Onboarding is one of the first steps you take towards setting your employees up for success, and it’s an ever-evolving process. As more people join your company, new and different opportunities to improve it will arise, so keep adapting. Get feedback often, find what works for your team, and continue iterating on it with each new hire.</p>
                        <p>Onboarding is a huge group effort. So many people come together when someone is hired—HR, functional teams, coordinators, IT—that to have their efforts fall flat would be a huge disappointment. But by following these best practices, you can provide a great onboarding experience together.</p>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info btn-small" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Service box end -->
        <!-- Modal -->
        <div id="myModalc" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">

                        <p>This gives more time to focus on strategy, innovation and making money.</p>
                        <p> At any time, a spradsheet can be exported with a summary of all financial transactions with predictive analytics.</p>
                        <p>Businesses make better decisions when they have the right information and when those decisions are people related then your it is down to your HR system to provide the data you need.</p>
                        <ul>
                            <li>Employee</li>
                            <li>Employee moves</li>
                            <li>Timeoff</li>
                            <li>Training</li>
                            <li>Recruitment</li>
                            <li>Performance</li>
                            <li>Financial</li>
                            <li>Organisation including organisation chart</li>
                        </ul>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info btn-small" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Service box end -->
        <!-- Modal -->
        <div id="myModald" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">

                        <p>Communicating with employees is vital to any HR team. An increasing number of employees are working remotely, so good, strong communicative channels are becoming more of a challenge.</p>
                        <p>With HR Icon platform, you can create and push relevant content to the right employees at the right time, allowing you to deliver a truly personalized experience for the user. Showing all employees the same information will only engage those that it’s relevant to, leaving the rest of your staff feeling disconnected and uninvolved. Advanced targeting ensures that HR communications reach the relevant staff.</p>
                        <p>Your organization can also opt for a social platform which allows public online conversations to discuss wider organizational issues and specific teams, with private social channels, to discuss more niche issues. It’s a real opportunity to curate and communicate your corporate culture across the organization, increasing staff motivation. Unily will facilitate high quality employee engagement and help you create a dynamic space for two-way conversations across your organization.</p>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info btn-small" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Service box end -->
        <!-- Modal -->
        <div id="myModale" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">

                        <p>HR Icon platform provides a central location for storing documents and sharing. An HR intranet needs to be well organized and easy to navigate to be as beneficial as possible to a business. Staff need to be able to find data quickly. Through the smart search functionality employees can easily find relevant information, such as booking annual leave, submitting expenses claims, or appraisal forms.</p>
                        <p>It’s also extremely important that sensitive data hosted on your platform is protected. You can set up permission restrictions to ensure that only those that should have access to particular documents have access, making sure that any sensitive information remains confidential.</p>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info btn-small" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Service box end -->
        <!-- Modal -->
        <div id="myModalf" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">

                        <p>Our HR software makes it easy for your staff to log and track training. You can also upload and store training certificates to employee profiles.</p>
                        <p>Staff appraisals can help you get the most out of your people, and help them stay motivated and satisfied. Regular appraisals can also identify and solve issues with staff performance or happiness before they become a problem.</p>
                        <p>Yet for many business owners and managers, remembering to do an appraisal, working out how to do one and finding the time can be really tough. HR Icon can help.</p>
                        <p>When it’s time to do staff appraisals our online HR software provides everything you need, takes you through each step in the process and reminds you what you need to do when. It lets you and your staff fill out the appraisal online, and stores it automatically so there’s no need to hunt for the form someone filled in and gave you a few days ago</p>
                        <p>Our HR software also lets you set agreed goals for your employees and track their progress towards those goals over time. Your staff can see this, too, so there’s no more risk of them forgetting or not realising what the goals were.</p>
                        <p>We have also built in a training log, so you can store details of any training your people do. If any of your team have any Continuing Professional Education or Development needs, you can let our software know and it will then send you a warning if someone needs to log some more training before their deadline.</p>
                        <p>Doing appraisals for your team will still take some thinking, meeting and follow-up time. But with Icon HR, it will take much less time than it used to. And you should see enough improved performance from your people to make it well worth doing.</p>



                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info btn-small" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Service box end -->
        <!--/ Slider end -->
        <!-- About tab start-->
        <section id="about" class="about angle">
            <div class="container">
                <div class="row landing-tab">
                    <div class="col-md-3 col-sm-5">
                        <div class="nav flex-column nav-pills border-right" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="animated fadeIn nav-link py-4 active d-flex align-items-center" data-toggle="pill" href="#tab_1" role="tab"
                               aria-selected="true">
                                <img src="~/images/icons/folder-icon.png" class="img-responsive" style="width: 30px; height: 30px;  padding: 5px;" />
                                <span class="h4 mb-0 font-weight-bold">Employee data in one place</span>
                            </a>
                            <a class="animated py-4 fadeIn nav-link d-flex align-items-center" data-toggle="pill" href="#tab_2" role="tab"
                               aria-selected="true">
                                <img src="~/images/icons/features-icon.png" class="img-responsive" style="width: 30px; height: 30px;  padding: 5px;" />
                                <span class="h4 mb-0 font-weight-bold">Feautures</span>
                            </a>
                            <a class="animated py-4 fadeIn nav-link  d-flex align-items-center" data-toggle="pill" href="#tab_3" role="tab"
                               aria-selected="true">
                                <img src="~/images/icons/comments-icon.png" class="img-responsive" style="width: 35px; height: 35px;  padding: 5px;" />
                                <span class="h4 mb-0 font-weight-bold">Our Commitment</span>
                            </a>
                            <a class="animated py-4 fadeIn nav-link d-flex align-items-center" data-toggle="pill" href="#tab_4" role="tab"
                               aria-selected="true">
                                <img src="~/images/icons/alert.png" class="img-responsive" style="width: 35px; height: 35px;  padding: 5px;" />
                                <span class="h4 mb-0 font-weight-bold">Set tasks and get reminders</span>
                            </a>
                            <a class="animated py-4 fadeIn nav-link  d-flex align-items-center" data-toggle="pill" href="#tab_5" role="tab"
                               aria-selected="true">
                                <img src="~/images/icons/documents.png" class="img-responsive" style="width: 35px; height: 35px;  padding: 5px;" />
                                <span class="h4 mb-0 font-weight-bold">Manage documents</span>
                            </a>


                        </div>
                    </div>
                    <div class="col-md-9 col-sm-7">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane pl-sm-5 fade show active animated fadeInLeft" id="tab_1" role="tabpanel">

                                <h3 style="color:#a349d5;">Employee data in one place</h3>
                                <p>

                                    Centralise all your information in one location so that it is Organised and easy to access on the go.

                                    It’s tough to keep accurate data when information is scattered across spreadsheets and paper files. Anytime you need to make an update, you find yourself chasing down several other files you need to change as well.
                                    That’s where ICON HR software comes in. With your data stored in one organized, accessible database, you can enter, update, and check employee records in an instant, and you’ll never have to second-guess your accuracy again.
                                </p>
                            </div>
                            <div class="tab-pane pl-sm-5 fade animated fadeInLeft" id="tab_2" role="tabpanel">

                                <h3 style="color:#a349d5;">Features</h3>
                                <h4 style="color:#000;">Performance evaluation</h4>
                                <p> Your HR system should be the centralized location from where you supervise the work of your employees, track progress, and set goals for them and the team.	</p>

                                <h4 style="color:#000;">Employee scheduling</h4>
                                <p> Using this feature, you can easily schedule shifts and attendance, and keep track of who is doing what at any moment of time. This will improve your assignment practices, improve cooperation between departments, and soothe the effect of changes in the schedule. 	</p>

                                <h4 style="color:#000;">Time tracking & Attendance management</h4>
                                <p>Most businesses trigger this function to manage absence, and make sure it won’t affect their regular line of work. Certain solutions will also monitor accrual and usage of PTO and sick days, or provide rules-based mechanisms with alerts and notifications.</p>
                                <p>Recruiting & Applicant tracking. With modules such as this one, the manager can store and evaluate applications, monitor candidates, and perform accurate background check. The very same module will often generate tools for efficient onboarding and access to materials.</p>

                                <h4 style="color:#000;">Learning management</h4>
                                <p> HR systems are not all about cultivating workforce and directing its performance. What they do even better is to retain talented performers, by giving them a chance to learn something new and to develop. Needless to say, this makes every team more competitive, as top workers know they will be rewarded for the effort they invest.</p>

                                <h4 style="color:#000;">LPayroll management</h4>
                                <p>  It is questionable whether an HR system would make sense without a benefits and payroll management kit, exactly because handing payment dues is the most tedious and error-prone part of an HR manager’s work. Good systems will thus provide employee benefits including paid time off, insurance policies on medical/dental/life, and 401k participation, and also manages employee 401k contributions, salaries, bonuses, as well as health other deductions; calculates taxes; and cuts paychecks. You should also check whether they are enabled for direct deposits, and whether they work in line with tax rules and labor standards valid in your region.</p>



                            </div>
                            <div class="tab-pane pl-sm-5 fade animated fadeInLeft" id="tab_3" role="tabpanel">

                                <h3 style="color:#a349d5;">Our Commitment</h3>
                                <p>Customer satisfaction is a number one priority for Icon Associates. Our firm is dedicated to providing outstanding customer service, listening to customer requests and being reachable at all times. This has enabled us to build long-lasting relationships with our clients and partners.</p>
                                <p>We emphasize personal service, communication, coordination, planning, and a team approach to problem solving. We work together to guarantee customer satisfaction. We believe in delivering the highest quality of work to our projects and successful completion of each project.</p>
                                <p>We review our own processes to see how they can work more efficiently and effectively in order to better meet the needs of our clients. We conduct internal business quality management processes  to maintain the quality of services as well.</p>
                            </div>
                            <div class="tab-pane pl-sm-5 fade animated fadeInLeft" id="tab_4" role="tabpanel">

                                <h3 style="color:#a349d5;">Set tasks and get reminders</h3>
                                <p>With our dashboard, you can see your to-do list, set tasks, and get reminders.</p>
                            </div>
                            <div class="tab-pane pl-sm-5 fade animated fadeInLeft" id="tab_5" role="tabpanel">

                                <h3 style="color:#a349d5;">Manage documents</h3>
                                <p>Have all your company and employee documents in one central location.</p>
                                <p>Keeping all your company and employee information in one place and automating all those time consuming human resource administrative tasks, transforms the way you manage your HR. With customisable reports, automated and streamlined processes, this HR management system gives you the tools you need to support your business</p>
                                <p>Manage document system is an online document storage and communication tool that keeps your business organised and your employees up-to-date. Our HR software allows efficient management of employee files, enables automation of workforce procedures, and gives greater control over forms, policies and much more. It simplifies the management, processing and protection of employee and business-critical HR data.</p>
                                <p>Our online HR software means everything HR related is filed, named, routed and tracked in a single digital system. Performance reviews, administrative requests, expense reports, in fact employee reports and documents of any kind, are stored electronically</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Container end -->
        </section>









        <!-- Newsletter start -->
        <section style="background:#42155b;margin-bottom:40px;">
            <div class="container">
                <div class="col-md-12 heading">
                    <h2 class="title" style="color:#fff;    border-left: 3px solid #fff!important;">Exclusive, High-Impact Extras </h2>
                </div>
                <p style="color:#fff;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <p style="color:#fff;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
        </section><!-- Newsletter end -->
        <!-- Footer start -->
        <footer id="footer" class="footer footer2">
            <div class="container">

                <div class="row">


                    <!--/ end flickr -->

                    <div class="col-md-6 col-sm-12 footer-widget">
                        <h3 class="widget-title">Quick Links</h3>

                        <ul class="unstyled arrow">
                            <li><a href="#">Home</a></li>
                            <li><a href="http://localhost:51704/Login">Login</a></li>
                            <li><a href="#">Demo</a></li>
                            <li><a href="http://localhost:51704/Registration">Start your trail</a></li>

                        </ul>

                    </div>
                    <!--/ End Recent Posts-->


                    <div class="col-md-6 col-sm-12 footer-widget footer-about-us">
                        <h3 class="widget-title" style="margin-bottom:15px;">Contact Us</h3>

                        <p>1122 Greenway Drive,<br />Suite 800 PMB #40,<br />rving, TX 75038.</p>
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Email: </strong>
                                <p>info@iconhr.com</p>
                            </div>
                            <div class="col-md-6">
                                <strong>Phone No.</strong>
                                <p>+(785) 238-4131</p>
                            </div>
                        </div>


                    </div>
                </div><!-- Row end -->
            </div><!-- Container end -->
        </footer><!-- Footer end -->
        <!-- Footer start -->
        <section id="copyright" class="copyright angle">
            <div class="container">

                <div class="col-md-12 text-center">
                    <ul class="footer-social unstyled">
                        <li>
                            <a title="Twitter" href="#">
                                <span class="icon-pentagon wow bounceIn"><i class="fa fa-twitter"></i></span>
                            </a>
                            <a title="Facebook" href="#">
                                <span class="icon-pentagon wow bounceIn"><i class="fa fa-facebook"></i></span>
                            </a>
                            <a title="Google+" href="#">
                                <span class="icon-pentagon wow bounceIn"><i class="fa fa-google-plus"></i></span>
                            </a>
                            <a title="linkedin" href="#">
                                <span class="icon-pentagon wow bounceIn"><i class="fa fa-linkedin"></i></span>
                            </a>
                            <a title="Pinterest" href="#">
                                <span class="icon-pentagon wow bounceIn"><i class="fa fa-pinterest"></i></span>
                            </a>

                        </li>
                    </ul>
                </div>

                <!--/ Row end -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright-info col-md-6" style="font-size:12px;">
                            <div class="row">
                                <div class="col-md-6">	&copy;2019 ICON Software Limited. All Rights Reserved.</div>
                                <div class="col-md-6" style="text-align:right;">
                                    <a href="dataprotection.html" style="color:#fff;text-decoration:underline;">Data Protection and Confidentiality</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="termsconditions.html" style="color:#fff;text-decoration:underline;">Terms and Conditions</a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <!--/ Row end -->
                <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix position-fixed">
                    <button class="btn btn-primary" title="Back to Top"><i class="fa fa-angle-double-up"></i></button>
                </div>
            </div>
            <!--/ Container end -->
        </section>
        <!--/ Footer end -->

    </div><!-- Body inner end -->
    <!-- jQuery -->
    <script src="~/plugins/jQuery/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- Style Switcher
    <script type="text/javascript" src="plugins/style-switcher.js"></script>-->
    <!-- Owl Carousel -->
    <script type="text/javascript" src="~/plugins/owl/owl.carousel.js"></script>
    <!-- PrettyPhoto
    <script type="text/javascript" src="plugins/jquery.prettyPhoto.js"></script>-->
    <!-- Bxslider -->
    <script type="text/javascript" src="~/plugins/flex-slider/jquery.flexslider.js"></script>
    <!-- CD Hero slider -->
    <script type="text/javascript" src="~/plugins/cd-hero/cd-hero.js"></script>
    <!-- Wow Animation -->
    <script type="text/javascript" src="~/plugins/wow.min.js"></script>
    <!-- Eeasing -->
    <script type="text/javascript" src="~/plugins/jquery.easing.1.3.js"></script>
    <!-- Counter -->
    <script type="text/javascript" src="~/plugins/jquery.counterup.min.js"></script>

    <!-- Main Script -->
    <script src="~/scripts/script.js"></script>
</body>
</html>