
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPlain.cshtml";
}

<div class="col-lg-4 col-md-6 col-sm-5 col-lg-offset-2 loginImg"> <img class="img-responsive" src="~/Images/Dashbord.png" alt="Login Image" /> </div>
<div class="col-lg-4 col-md-6 col-sm-7" ng-controller="forgotPasswordController">
    <form name="ForgotPwdForm" novalidate>
        <div class="login-cont clearfix">
            <h1>Forgot Password</h1>
            <span id="errorMsgForgotPwd" style="color:red;"></span>
            <div class="form-group">
                <input type="text" class="form-control" name="txtEmail" id="txtEmail" placeholder="Email" ng-model="txtEmail" ng-maxlength="30" ng-pattern="/^[^\s]+[^\s]+\.[^\s]{2,}$/" required>
                <div ng-if="ForgotPwdForm.$submitted || ForgotPwdForm.txtEmail.$dirty" ng-messages="ForgotPwdForm.txtEmail.$error" style="color:red" ng-cloak role="alert">
                    <div ng-message="required">Email is required</div>
                    <div ng-message="maxlength">Email is too long</div>
                    <div ng-message="pattern">Please enter valid Email</div>
                </div>
            </div>
            <div class="form-group-bt clearfix">
                <input type="submit" class="round-bt" ng-click="ForgotPwdForm.$valid && onForgotPassword()" value="Submit">
            </div>
        </div>
    </form>
</div>