@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en" ng-app="IconHRModule">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>ICON HR</title>
    <link rel="shortcut icon" href="~/Images/favicon.ico">
    <link href="~/Styles/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Styles/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Styles/css/icon-style.css" rel="stylesheet" />
    <link href="~/Styles/css/responsive-style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/scripts/angular.js"></script>
    @*<script src="~/AngularJS/Module.js"></script>
        <script src="~/AngularJS/Controller.js"></script>
        <script src="~/AngularJS/Service.js"></script>*@
    <script src="~/scripts/angular-messages.js"></script>
    <script src="~/scripts/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.0/angular-touch.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.8.1/ui-grid.min.js"></script>
    <script src="~/scripts/xtForm.tpl.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/7.0.0/rzslider.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>
    @*@Scripts.Render("~/bundles/app")*@
    <style>
        .form-control {
            border-radius: 0px;
            border: none;
            border-bottom: 1px solid #42155b;
            background: transparent;
            box-shadow: none;
        }
    </style>
</head>
<body class="loginBg">
    <div class="container">

        <div class="col-md-12" style="text-align:center;">
            <a class="loginlogo" href="/Home">
                <img src="~/Styles/assets/images/logo-login.png" alt="Icon" />
            </a>
        </div>

        <div class="col-md-12" style="text-align:center;"><div class="user-bg"> <img src="~/Styles/assets/images/round-user.png" /> </div> </div>

        <div class="login-wrap">
            @RenderBody()
        </div>
    </div>
    <footer class="footer-block" style="background:#42155b;padding:5px 0px;color:#fff;position: fixed;bottom: 0;width: 100%;">
        <p class="text-center" style="margin:0px;">&copy; @DateTime.Now.Year ICON Software Limited. All Rights Reserved.</p>
    </footer>
    <!-- Alert Message-->
    <div class="modal fade modal-pop" id="AlertModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Alert</h4>
                </div>
                <div class="modal-body">
                    <p id="AlertMsg">This is a small modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="round-button waves-effect" id="btnOk">OK</button>
                </div>
            </div>
        </div>
    </div>
    <!--- Alert Message -->
    @Scripts.Render("~/bundles/app")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/7.0.0/rzslider.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
