<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler,dotless.Core" />
    <section name="SagePayConfiguration" type="SagePayConfiguration" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="SqlConn" connectionString="Data Source=DESKTOP-5SJ5D8P;Initial Catalog=Iconhr;Integrated Security=True;MultipleActiveResultSets=False;Connect Timeout=1000" providerName="System.Data.SqlClient" />
    <add name="ICONHRContext" connectionString="Data Source=DESKTOP-5SJ5D8P;Initial Catalog=Iconhr;Integrated Security=True;MultipleActiveResultSets=False;Connect Timeout=1000" providerName="System.Data.SqlClient" />
  
  
  <!--<add name="SqlConn" connectionString="server=tcp:iconhr001.database.windows.net;database=ICONHR;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ICONHRContext" connectionString="Data Source=LAPTOP-FHLQ7NKC\SQLEXPRESS;Initial Catalog=ICONHR;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="response" value="success" />
    <!-- Start Email Settings -->
    <add key="MailServer" value="smtp.gmail.com"/>
    <add key="MailServerPort" value="587"/>
     <add key="MailServerUserName" value="agcsoftech@gmail.com" />
    <add key="MailServerPassword" value="Vivin@3567900" />
    <add key="FromMail" value="agcsoftech@gmail.com" />
    <add key="ccMail" value="agcsoftech@gmail.com" />
    <add key="SSRSReportsFolder" value="IRMReports" />
    <!--dev-->
    <add key="ICONHRUrl" value="http://localhost:51704"/>
    <add key="ICONHRUrl_RestPassowrd" value="http://localhost:51704/RestPassword?T="/>
    
  <!--QA-->
    <!--<add key="ICONHRUrl" value="http://localhost:51704"/>
    <add key="ICONHRUrl_RestPassowrd" value="http://localhost:51704/RestPassword?T="/>-->
    <!-- End Email Settings -->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5" maxRequestLength="2147483647" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <httpHandlers>
      <add path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler, dotless.Core" />
    <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" /></httpHandlers>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".eot" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition="" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" /></handlers>
  </system.webServer>
  <dotless minifyCss="false" cache="true" web="false" />
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

<SagePayConfiguration>
    <!-- Set to TEST for the Test Server and LIVE for the live environment-->
    <add key="sagepay.api.env" value="TEST" />
    <add key="sagepay.api.enableClientValidation" value="true" />
    <add key="sagepay.api.connectionString" value="" />
   
    <add key="sagepay.api.messageLoggerName" value="com.sagepay" />
    <add key="sagepay.api.messageLoggerLevel" value="debug" />

    <add key="sagepay.api.protocolVersion" value="3.00" />
    <add key="sagepay.kit.vendorName" value="iconsoftware" />
    <add key="sagepay.kit.fullUrl" value="" />
    <add key="sagepay.kit.currency" value="GBP" />

    <!--If you leave this value blank the kit will use the current host name-->
    <add key="sagepay.kit.siteFqdn.LIVE" value="" />
    <add key="sagepay.kit.siteFqdn.TEST" value="" />

   <add key="sagepay.kit.defaultTransactionType" value="PAYMENT" />

    <!--0 = If AVS/CV2 enabled then check them.  If rules apply, use rules (default).
    1 = Force AVS/CV2 checks even if not enabled for the account. If rules apply, use rules.
    2 = Force NO AVS/CV2 checks even if enabled on account.
    3 = Force AVS/CV2 checks even if not enabled for the account but DON'T apply any rules.-->
    <add key="sagepay.kit.applyAvsCv2" value="2" />

    <!--0 = If 3D-Secure checks are possible and rules allow, perform the checks and apply the authorisation rules. (default)
    1 = Force 3D-Secure checks for this transaction if possible and apply rules for authorisation.
    2 = Do not perform 3D-Secure checks for this transaction and always authorise.
    3 = Force 3D-Secure checks for this transaction if possible but ALWAYS obtain an auth code, irrespective of rule base.-->
    <add key="sagepay.kit.apply3dSecure" value="2" />

    <!--Optional property. (Server & Form protocols only)
    For charities registered for Gift Aid, set to 1 to display the Gift Aid check
    box on the payment pages, or else 0-->
    <add key="sagepay.kit.allowGiftAid" value="1" />

    <!-- Optional setting. if you are a vendor that has a merchant category code of 6012, then you can fill in extra details required for authorisation for Visa transactions -->
    <add key="sagepay.kit.collectRecipientDetails" value="false"/>

    <!-- Set this to true to use colon delimited format for the basket instead of XML -->
    <!-- Note: The 'Trips' details on the 'Extra Information' page will not be displayed if this flag is set to true. -->
    <add key="sagepay.kit.basketxml.disable" value="false" />

    <!--Optional setting. Set to tell the Sage Pay System which merchant account to use. If omitted,
	the system will use E, then M, then C by default
	E = Use the e-commerce merchant account (default)
	M = Use the mail order/telephone order account (if present)
	C = Use the continuous authority merchant account (if present)-->
    <add key="sagepay.kit.accountType" value="" />

    <!--Optional setting. If you are a Sage Pay Partner and wish to flag transactions
	with your unique partner id it should be set here-->
    <add key="sagepay.kit.partnerID" value=""/>

    <!--Use this key to send surcharge xml and override the default values set for your account. See the protocol documents for further
	explanation on using the surcharge xml-->
    <add key="sagepay.kit.surchargeXML" value="&lt;surcharges&gt;&lt;surcharge&gt;&lt;paymentType&gt;VISA&lt;/paymentType&gt;&lt;percentage&gt;2.50&lt;/percentage&gt;&lt;/surcharge&gt;&lt;/surcharges&gt;" />

    <!--FORM Protocol Only Settings

    Set this value to the Encryption password assigned to you by Sage Pay -->
    <add key="sagepay.kit.form.encryptionPassword.TEST" value="0b8b078b2e40cc0c" />
    <add key="sagepay.kit.form.encryptionPassword.LIVE" value="" />

    <!-- 0 = Do not send either customer or vendor e-mails,
    1 = Send customer and vendor e-mails if address(es) are provided(DEFAULT).
    2 = Send Vendor Email but not Customer Email. If you do not supply this field, 1 is assumed and e-mails are sent if addresses are provided.-->
    <add key="sagepay.kit.form.sendEmail" value="1" />

    <!--Optional setting. Set this to the mail address which will receive order confirmations and failures-->
    <add key="sagepay.kit.form.vendorEmail" value="" />

    <!--Optional setting. Contents of email message.
    You can specify any custom message to send to your customers in their confirmation e-mail here
    The field can contain HTML if you wish, and be different for each order.  This field is optional-->
    <add key="sagepay.kit.form.emailMessage" value="Thanks for your order" />

    <!--The Sage Pay server URLs to which customers will be sent for payment for each environment-->
    <add key="sagepay.api.formPaymentUrl.LIVE" value="https://live.sagepay.com/gateway/service/vspform-register.vsp" />
    <add key="sagepay.api.serverPaymentUrl.LIVE" value="https://live.sagepay.com/gateway/service/vspserver-register.vsp" />
    <add key="sagepay.api.serverTokenRegisterUrl.LIVE" value="https://live.sagepay.com/gateway/service/token.vsp" />
    <add key="sagepay.api.directPaymentUrl.LIVE" value="https://live.sagepay.com/gateway/service/vspdirect-register.vsp" />
    <add key="sagepay.api.directTokenRegisterUrl.LIVE" value="https://live.sagepay.com/gateway/service/directtoken.vsp" />
    <add key="sagepay.api.direct3dSecureUrl.LIVE" value="https://live.sagepay.com/gateway/service/direct3dcallback.vsp" />
    <add key="sagepay.api.directPayPalCompleteUrl.LIVE" value="https://live.sagepay.com/gateway/service/complete.vsp" />
    <add key="sagepay.api.tokenRemoveUrl.LIVE" value="https://live.sagepay.com/gateway/service/removetoken.vsp" />
    <add key="sagepay.api.abortUrl.LIVE" value="https://live.sagepay.com/gateway/service/abort.vsp" />
    <add key="sagepay.api.authoriseUrl.LIVE" value="https://live.sagepay.com/gateway/service/authorise.vsp" />
    <add key="sagepay.api.cancelUrl.LIVE" value="https://live.sagepay.com/gateway/service/cancel.vsp" />
    <add key="sagepay.api.refundUrl.LIVE" value="https://live.sagepay.com/gateway/service/refund.vsp" />
    <add key="sagepay.api.releaseUrl.LIVE" value="https://live.sagepay.com/gateway/service/release.vsp" />
    <add key="sagepay.api.repeatUrl.LIVE" value="https://live.sagepay.com/gateway/service/repeat.vsp" />
    <add key="sagepay.api.voidUrl.LIVE" value="https://live.sagepay.com/gateway/service/void.vsp" />

    <add key="sagepay.api.formPaymentUrl.TEST" value="https://test.sagepay.com/gateway/service/vspform-register.vsp" />
    <add key="sagepay.api.serverPaymentUrl.TEST" value="https://test.sagepay.com/gateway/service/vspserver-register.vsp" />
    <add key="sagepay.api.serverTokenRegisterUrl.TEST" value="https://test.sagepay.com/gateway/service/token.vsp" />
    <add key="sagepay.api.directPaymentUrl.TEST" value="https://test.sagepay.com/gateway/service/vspdirect-register.vsp" />
    <add key="sagepay.api.directTokenRegisterUrl.TEST" value="https://test.sagepay.com/gateway/service/directtoken.vsp" />
    <add key="sagepay.api.direct3dSecureUrl.TEST" value="https://test.sagepay.com/gateway/service/direct3dcallback.vsp" />
    <add key="sagepay.api.directPayPalCompleteUrl.TEST" value="https://test.sagepay.com/gateway/service/complete.vsp" />
    <add key="sagepay.api.tokenRemoveUrl.TEST" value="https://test.sagepay.com/gateway/service/directtoken.vsp" />
    <add key="sagepay.api.abortUrl.TEST" value="https://test.sagepay.com/gateway/service/abort.vsp" />
    <add key="sagepay.api.authoriseUrl.TEST" value="https://test.sagepay.com/gateway/service/authorise.vsp" />
    <add key="sagepay.api.cancelUrl.TEST" value="https://test.sagepay.com/gateway/service/cancel.vsp" />
    <add key="sagepay.api.refundUrl.TEST" value="https://test.sagepay.com/gateway/service/refund.vsp" />
    <add key="sagepay.api.releaseUrl.TEST" value="https://test.sagepay.com/gateway/service/release.vsp" />
    <add key="sagepay.api.repeatUrl.TEST" value="https://test.sagepay.com/gateway/service/repeat.vsp" />
    <add key="sagepay.api.voidUrl.TEST" value="https://test.sagepay.com/gateway/service/void.vsp" />
  </SagePayConfiguration>
</configuration>
